<ion-view view-title="Principal">
  <ion-content class="padding">
   
    <div class="list card">
      <div class="item item-divider">Actividades Recientes</div>
      <div class="item item-body">
        <div>
          Tenemos fuego en el <b>sector 3</b>
        </div>
      </div>
    </div>
    
     <div class="list card">
      <div class="item item-divider">Pendientes</div>
      <div class="item item-body">
        <div>
          Revisar programa.
        </div>
      </div>
    </div>
    
    
    
    
    
  </ion-content>
</ion-view>
